<!DOCTYPE html>
<html lang="pt-br">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADASTRO</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
   
</head>
 
<body>
    <h1>Cadastro de Produtos</h1>
    <hr>

    <div class="container col-sm-12" id="mainform">
        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                                     
            <div class="panel panel-info">
                <div class="panel-heading">
    <div class="panel-body" >
        <form class="form-horizontal" action="/" method="POST" enctype="multipart/form-data">
          
            <div class="form-group">
                <label for="name" class="col-md-4 control-label">Nome do Produto:</label>
                <input type="text" class="form-control"id="name" placeholder="Nome do Produto"
                       value="" name="name" required>
            </div>
            <div class="form-group">
                <label for="name" class="col-md-4 control-label">Marca do Produto:</label>
                <input type="text" class="form-control"id="marc" placeholder="Marca do Produto"
                       value="" name="marc" required>
            </div>

            <div class="form-group">
                <label for="desc">Descrição do Produto:</label>
                <textarea class="form-control" id="desc" name="desc" value="" rows="2"
                placeholder="Descrição do Produto" required>
                </textarea>
            </div>

            <div class="form-group">
                <label for="image" class="col-md-3 control-label">Foto do Produto</label>
                <div class="col-sm-9">
                    <input class="form-control" type="file" name="image" value="" required accept=""/>
                </div>
            </div> 

            <div class="form-group col-md-4">
                <label for="inputState">Produto Ativo </label>
                <select id="state" name="state" class="form-control">
                  <option selected>Selecione ...</option>
                  <option>SIM</option>
                  <option>NÃO</option>
                </select>
              </div>

            <div class="form-group">
                <!-- Button -->                                       
                <div class="col-md-offset-3 col-md-9">
                    <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> Cadastrar Produto</button>
                </div>
            </div>  


        </form>
    </div>
 </div>
 </div>
 </div>
    <hr>
 
    <h3>Produtos Cadastrados</h3>
    <div>
        <% items.forEach(function(image) { %>
        <div>
            <div>
                <img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
                <div>
                    <h5><%= image.name %></h5>
                     
 
                    <p><%= image.marc %></p>

                    <p><%= image.desc %></p>
                    <p><%= image.state %></p>
 
 
 
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>